@using OpenID.Constants;
@using OpenID.Dtos.Common;

@model OpenID.Dtos.Configuration.ClientsDto

@{
	ViewBag.Title = "Title";
	Layout = "_Layout";
}

<div class="row">
	<div class="col-12 text-center mt-1 mb-1">
		<h2><span class="oi oi-monitor" title="Clients" aria-hidden="true"></span>Clients</h2>
	</div>

	<div class="col-12">
		<a asp-area="@CommonConsts.AdminUIArea" asp-action="Client" class="btn btn-outline-primary mb-3"><span class="oi oi-plus"></span>AddNewClient</a>
	</div>

	<div class="col-12">
		@await Html.PartialAsync("Common/Search", new Search() { Action = "Clients", Controller = "Configuration" })
	</div>
</div>
<div class="row">
	<div class="col-12">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>ClientId</th>
						<th>ClientName</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var client in Model.Clients)
					{
						<tr>
							<th><a asp-area="@CommonConsts.AdminUIArea" class="btn btn-primary" asp-action="Client" asp-route-id="@client.Id">Edit</a></th>
							<td>@client.ClientId</td>
							<td>@client.ClientName</td>
							<td>
								<a asp-area="@CommonConsts.AdminUIArea" class="btn btn-danger" asp-action="ClientDelete" asp-route-id="@client.Id"><span class="oi oi-x"></span></a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		@await Html.PartialAsync("Common/Pager", new Pager { Action = "Clients", PageSize = Model.PageSize, TotalCount = Model.TotalCount, Search = ViewBag.Search, EnableSearch = true })
	</div>
</div>